.header{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: radial-gradient(yellow,orange);
    border: 5px rgb(255, 200, 0);
    border-style:outset;
}
.image{
    height: 130px;
}
.image img{
    width: 250px;
    height: 130px;
}