.open1{
    display: none;
    background-color: black;
}
.open1{
background-color: blue;
}
.App{
    background-color: violet;
    height: 100vh;
}
.App #new{
    background-color: yellow;
    /* padding: 50px 100px; */
    border: none;
    height: 200px;
    width: 400px;
    position: relative;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    border-radius: 100px;
    font-family: agbalumo;
    font-size: 3rem;
}
