.open1{
    display: none;
}
/* .open2{
background-color: blue;
} */
.parent{
    background-color: violet;
    height: 100vh;
    width: 100%;
}
.parent .logo-in{
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
}
.parent .logo-out{
    display: none;
}
.parent #new{
    background-color: yellow;
    border: none;
    height: 180px;
    width: 350px;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    border-radius: 100px;
    font-family: agbalumo;
    font-size: 3rem;
    animation: button 1s infinite ease-in;
}
@keyframes button {
    0%{ transform: translate(-50%,-50%) scale(0.9); }
    100%{ transform: translate(-50%,-50%) scale(1); }
}

@media screen and (max-width: 322px) {
    .parent #new{
        height: 150px;
        width: 300px;
    }
    @keyframes button {
        0%{ transform: translate(-50%,-50%) scale(0.9); }
        100%{ transform: translate(-50%,-50%) scale(1); }
    }
}
